#fridgeTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 1%;
}

#search {
  padding:7px;
  background-color: lightyellow;
  width: 200px;
  padding: 7px;
  border: 1px solid #333;
  margin-left : 70%;
  margin-bottom: auto;
}
