/* Top part of every page */

.heading{
  height: 150px;
  border-style: solid;
}

.tabs{
  display: flex;
  margin-top: 4%;
}

.tab{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

/* nutriTracker.html */

.addButton{
  height: 30px;
  display: block;
}

.removeButton{
  height: 30px;
  display: block;
}

.textAddFood{
  display: none;
}

.textRemoveFood{
  display: none;
}

/* recipes.html */

#fridgeTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 1%;
}

#search{
  padding:7px;
  background-color: lightyellow;
  width:200px;
  padding:7px;
  border: 1px solid #333;
  margin-left:70%;
  margin-bottom:auto;
}
