<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content"IE-edge">
    <meta name="viewport" content="width=device-width, initial-scake=1">

    <script type="text/javascript" src = "/Scripts/script.js"></script>
    <link rel="stylesheet" href="/Style/style.css">
    <title>About Us</title>
<link href="css/bootstram.min.css" rel="stylesheet">

  </head>

  <body>
    <div>

          <div id ="fridgeTitle" >About Us</div>

          <div class="tabs">

                <form  action="/fridge"> <button type="submit" class = "tab" > My Fridge </button>
                </form>

                <form  action="/recipes"> <button type="submit" class = "tab" > Recipes </button>
                </form>

                <form  action="/aboutus"> <button type="submit" class = "tababoutus" > About Us </button>
                </form>

          </div>


        <form id="temp" class="signOut" action="/signIn" method="post">
          <div id = "belowTitle">
            <input type="submit" name="" value="Sign Out">
          </div>
          <div class="work">
            <p id = "loggedIn">{{username}} is logged in</p>
          </div>
        </form>

    <div class="wrapperaboutus">
      <div id="leftaboutus">
        <div class="nameOlivia">Olivia</div>
        <div class="container">
          <img src="/Style/Olivia.jpg" alt=""style="width:360px;height:360px;border-radius:360px;" >
          <div class="overlay">
            <div class="text"> <br> <br> Attending University of Washington, Seattle <br> I am from Seattle, Washington.
            <br>  Favorite Food: Pasta & Salad <br>
            </div>
          </div>
        </div>
          <br><br>
          <div style = "display: flex; justify-content: center">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/oliviameeran/" data-format="inline" data-related="false"></script>
          </div>
      </div>

    <div id="middleaboutus">
      <div class="nameJustin">Justin</div>
      <div class="containerjustin">
        <img src="/Style/Justin.jpg" alt=""style="width:360px;height:360px;border-radius:360px;" >
        <div class="overlayjustin">
          <div class="text"> <br> <br> Attending University of Washington, Seattle <br> I am from Olympia, Washington.
            <br>  Spikeball enthusiast & food lover. <br> I love meat!
          </div>
        </div>
      </div>
      <br>
      <br>
      <div style = "display: flex; justify-content: center">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/christopher-justin-ong-b03089168/" data-format="inline" data-related="false"></script>
      </div>
    </div>

    <div id="rightaboutus">
      <div class="nameCattien">Cattien</div>
      <div class="containercattien">
        <img src="/Style/Cattien.jpg" alt=""style="width:360px;height:360px;border-radius:360px;" >
        <div class="overlaycattien">
          <div class="text"><br> <br> Attending University of California, Irvine.  <br> I am from Modesto, California.
          <br>  Favorite Foods: Food, Shrimp & Pasta . <br>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div style = "display: flex; justify-content: center">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/cattien-ngo-510089168/" data-format="inline" data-related="false"></script>
      </div>
    </div>

    </div>
  </body>
</html>
