<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content"IE-edge">
    <meta name="viewport" content="width=device-width, initial-scake=1">

    <script type="text/javascript" src = "/Scripts/script.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id" content="15145183773-m2dh8cosvugqilo2ver83cta6q1qfbao.apps.googleusercontent.com">
    <link rel="stylesheet" href="/Style/style.css">
    <title>About Us</title>
<link href="css/bootstram.min.css" rel="stylesheer">

  </head>

  <body>



<div class="heading">

      <div id ="fridgeTitle" >About Us</div>


      <div class="tabs">

               <form  action="/fridge"> <button type="submit" class = "tab" > My Fridge </button>
               </form>



            <form  action="/recipes"> <button type="submit" class = "tab" > Dishes </button>
            </form>

            <form  action="/aboutus"> <button type="submit" class = "tababoutus" > About Us </button>
            </form>

      </div>


  <form id="temp" class="signOut" action="/signIn" method="post">
    <div id = "belowTitle">
      <input type="submit" name="" value="Sign Out">
    </div>
    <div class="work">
      <p id = "loggedIn">{{username}} is logged in</p>
    </div>
  </form>

<div id="header"></div>

<!--
<div class="container">
  <h1>Olivia</h1>
  <img src="/Style/Olivia.jpg" alt=""style="width:260px;height:260px;border-radius:300px;"  class="image">
  <div class="overlay">
    <div class="text">IT WORKS</div>
  </div>
</div> -->


<div class="wrapperaboutus">
  <div id="leftaboutus">
        <h1>Olivia</h1>
    <div class="container">
      <img src="/Style/Olivia.jpg" alt=""style="width:260px;height:260px;border-radius:300px;" >
      <div class="overlay">
        <div class="text">IT WORKS</div>
      </div>
    </div>
</div>




      <div id="middleaboutus">
<h1> Justin <h2>
<img src="/Style/Justin.jpg" alt=""  style="width:260px;height:260px;border-radius:300px;"  >
        </div>

        <div id="rightaboutus">
          <h1>Cattien</h1>
<img src="/Style/Cattien.jpg" alt=""  style="width:260px;height:260px;border-radius:300px;">
        </div>

      </div>


  </body>
</html>
