<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content"IE-edge">
    <meta name="viewport" content="width=device-width, initial-scake=1">

    <script type="text/javascript" src = "/Scripts/script.js"></script>
    <link rel="stylesheet" href="/Style/style.css">
    <title>About Us</title>

  </head>

  <body>
    <div>

          <div id ="fridgeTitle" >About Us</div>

          <div class="tabs">

                <form  action="/fridge"> <button type="submit" class = "tab" > My Fridge </button>
                </form>

                <form  action="/recipes"> <button type="submit" class = "tab" > Recipes </button>
                </form>

                <form  action="/aboutus"> <button type="submit" class = "tababoutus" > About Us </button>
                </form>

          </div>


        <form id="temp" class="signOut" action="/signIn" method="post">
          <input type="submit" name="" value="Sign Out" id = "signOut">
          <p id = "loggedIn">{{username}} is logged in</p>
        </form>

    <div class="wrapperaboutus">
      <div id="leftaboutus">
        <div class="container">
          <img src="/Style/Olivia.jpg" alt=""style="width:360px;height:360px;border-radius:360px;" >
          <div class="overlay">
            <div class="text">
              <p style = "font-size:30px;">Olivia</p>
              Attending University of Washington, Seattle <br> I am from Seattle, Washington.
              <br>  Favorite Food: Pasta & Salad <br>
            </div>
          </div>
        </div>
          <br>
          <a href="https://www.linkedin.com/in/oliviameeran/" target="_blank" style = "display: flex; justify-content: center">
            <img src="/Style/LinkedIn.png" alt="" class = "linkedIn">
          </a>
      </div>

    <div id="middleaboutus">
      <div class="container">
        <img src="/Style/Justin.jpg" alt=""style="width:360px;height:360px;border-radius:360px;" >
        <div class="overlay">
          <div class="text">
            <p style = "font-size: 30px;">Justin</p>
            Attending University of Washington, Seattle <br> I am from Olympia, Washington.
            <br>  Spikeball enthusiast & food lover. <br> I love meat!
          </div>
        </div>
      </div>
      <br>
      <a href="https://www.linkedin.com/in/christopher-justin-ong-b03089168/" target="_blank" style = "display: flex; justify-content: center">
        <img src="/Style/LinkedIn.png" alt="" class = "linkedIn">
      </a>
    </div>

    <div id="rightaboutus">
      <div class="container">
        <img src="/Style/Cattien.jpg" alt=""style="width:360px;height:360px;border-radius:360px;" >
        <div class="overlay">
          <div class="text">
            <p style = "font-size: 30px;">Cattien</p>
            Attending University of California, Irvine.  <br> I am from Modesto, California.
            <br>  Favorite Foods: Food, Shrimp & Pasta . <br>
          </div>
        </div>
      </div>
      <br>
      <a href="https://www.linkedin.com/in/cattien-ngo-510089168/" target="_blank" style = "display: flex; justify-content: center;">
        <img src="/Style/LinkedIn.png" alt="" class = "linkedIn">
      </a>
    </div>

    </div>
  </body>
</html>
