<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script type="text/javascript" src = "/Scripts/script.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id" content="15145183773-m2dh8cosvugqilo2ver83cta6q1qfbao.apps.googleusercontent.com">
    <link rel="stylesheet" href="/Style/style.css">
    <title>MyFridge</title>
  </head>

  <body>



<div class="heading">

      <h1 id ="fridgeTitle" >My Fridge</h1>


<div class="tabs">

         <form  action="/fridge"> <button type="submit" class = "tab" > My Fridge </button>
         </form>

         <form  action="/nutritracker"> <button type="submit" class = "tab" > Nutrition Track </button>
         </form>

      <form  action="/recipes"> <button type="submit" class = "tab" > Recipes </button>
      </form>

</div>


  <form id="temp" class="signOut" action="/signIn" method="post">
    <div id = "belowTitle">
      <input type="submit" name="" value="Sign Out">
    </div>
    <div class="work">
      <p id = "loggedIn">{{username}} is logged in</p>
    </div>
  </form>




<div id="header"></div>



</div>

<div class="wrapperfridge">
  <div id="leftfridge">
      <div class="fridge">
          <h2>What's in my fridge?</h2>
          <div id="addFoodButton"> Add Food </div>
          <div id="addFoodForm">
            <form action="/fridgefood" method="POST">
              Enter Food
              <input type="text" name="addFood" id="addFoodText"> <br>
              Enter Expiration Date
              <input type="date" name="expirationDate" id="addFoodDate"> <br>
              <input type="submit" id="Displayfoodbutton" value="Add Food">
            </form>

        </div>
    </div>

        <!-- <div id="fridgeAddRemovebox">

          </form>
          <form action="/removefridge" method="GET">
            <input type="image" src="http://pngimg.com/uploads/minus/minus_PNG64.png" class="removeButton">
          </form>
        </div> -->
        {% for food in food_fridge %}
        <div class="fridgefood-div" style=" ">
          <p id="foodName">{{food.name}}</p>
          <img src="{{food.image}}">
          <p id="foodExpiration">{{food.expirationDate}}</p>
        </div>
        {% endfor %}

</div>
      <div id="rightfridge">
        <div id="expiringSoon">
          <h2>Expiring Soon:</h2>
          <ul id="listExpiration">

          </ul>
        </div>

        <div id="expired">
          <h2>Expired:</h2>
          <ul id="listExpired">

          </ul>
        </div>

      </div>

</div>

  </body>
</html>
