<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Style/nutriTrackerStyle.css">
    <script type="text/javascript">

    </script>
    <title>Fridge</title>
  </head>
  <body>
    <div class="heading">

      <h1 id ="fridgeTitle" >MyFridge</h1>

      <div class="tabs">
        <p class = "tab">MyFridge</p>
        <p class = "tab">Nutri-Tracker</p>
        <p class = "tab">Fridge Recipes</p>
      </div>
    </div>
  </body>
</html>
