<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/Style/style.css">
    <script type="text/javascript" src = "/Scripts/script.js"></script>
    <title>MyFridge</title>

  </head>

  <body>

    <div class="heading">

      <h1 id ="fridgeTitle" > Recipes </h1>
      <!-- <div class="tabs" role="button" aria-label="Basic example">
         <button type="button" href="/fridge" class="tab" role="button" aria-pressed="true">My Fridge</button>
        <button type="button" href="/nutritracker" class="tab">Nutrition Tracker</button>
        <button type="button" href="/recipes" class="tab">Fridge Recipes</button>
      </div> -->



      <div class="tabs">
        <form  action="/fridge"> <button type="submit" class = "tab" > My Fridge </button>
        </form>

        <form  action="/nutritracker"> <button type="submit" class = "tab" > Nutrition Track </button>
        </form>

     <form  action="/recipes"> <button type="submit" class = "tab" > Recipes </button>
     </form>
</div>

<a href="#" onclick="signOut()" type="submit" class = "tab" > Sign Out </a>

<div id="header"></div>


</div>
<div class="wrapperrecipe">
  <div id="leftrecipe">
    <br>
    <br>
    <div id="recipesearchbox">
  <form action= "google.com">
    <br>
    <br>
    <input type="text" placeholder="Search Recipe..."
    maxlength="30" id="search">
    <input type="submit" value="Go!" id="submit">
  </form>
  <br>
  <br>
  <div id="reciperecommendbox">
    <h4> More Recipes based on list </h4>
    <form class="" action="index.html" method="post">


      <input type="image" src="http://pngimg.com/uploads/minus/minus_PNG64.png" class="removeButton">
    </form>
  </div>
  </div>
</div>
  <div id="rightrecipe">
    <h2>+ Saved Recipes</h2>

  </div>
</div>

<div id="footer">
<p>footer</p>

  </body>
</html>
</div>
